.git
.gitignore
node_modules
frontend/node_modules
frontend/dist
vendor
storage/logs
.env
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.phar
*.sqlite
.idea
.vscode
